.navbar{

background:rgba(2,6,23,.85);

backdrop-filter:blur(12px);

border-bottom:1px solid #334155;

padding:15px 0;

}



.logo{

font-size:28px;

font-weight:700;

color:#0dcaf0;

display:flex;

align-items:center;

gap:10px;

}



.nav-link{

color:white !important;

font-size:17px;

margin-left:25px;

position:relative;

transition:.3s;

}





.nav-link:hover{

color:#0dcaf0 !important;

}




.nav-link::after{

content:"";

position:absolute;

left:0;

bottom:0;

width:0;

height:2px;

background:#0dcaf0;

transition:.3s;

}



.nav-link:hover::after{

width:100%;

}





.navbar-toggler{

border:1px solid #0dcaf0;

}



.navbar-toggler-icon{

filter:invert(1);

}





@media(max-width:991px){

.nav-link{

margin-left:0;

padding:10px 0;

}

}