.skills-section{

padding:100px 0;

background:#020617;

color:white;

}



.section-title h2{

font-size:45px;

font-weight:800;

}



.section-title span{

color:#0dcaf0;

}



.section-title p{

color:#94a3b8;

margin-top:15px;

}





.skill-card{


height:180px;

background:#0f172a;

border:1px solid #334155;

border-radius:20px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

transition:.4s;

}




.skill-card:hover{


transform:translateY(-10px);

border-color:#0dcaf0;

box-shadow:0 0 30px rgba(13,202,240,.25);


}





.skill-icon{

font-size:55px;

color:#0dcaf0;

margin-bottom:20px;

}





.skill-card h5{

font-size:20px;

font-weight:700;

}




@media(max-width:576px){

.skill-card{

height:150px;

}


.skill-icon{

font-size:45px;

}

}